<h1>Create A New Item</h1>
<%= form_with url: "/stores/#{@store.id}/items", method: :post, local: :true do |f| %>
<%= f.label :name, 'Name' %>
<%= f.text_field :name %>
<%= f.label :price, 'Price' %>
<%= f.text_field :price %>
<%= f.label :quantity, 'Quantity' %>
<%= f.text_field :quantity %>
<%= f.submit 'Submit' %>
<% end %>
