<h1> New Shipment </h1>

<%= form_with url: "/stores/#{@store.id}/shipments", method: :post, local: true do |f| %>
<%= f.label :origin, "Origin" %>
<%= f.text_field :origin %>
<%= f.label :destination, "Destination" %>
<%= f.text_field :destination %>
<div id="add-items">
  <%= f.collection_check_boxes :add_items, @store.items, :id, :name, include_hidden: false %>
</div>
<%= f.submit "Submit" %>
<% end %>